body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 20px;
}

#mode-selection {
    margin-bottom: 20px;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin-bottom: 20px;
}

button {
    background-color: rgb(38, 45, 171);
    width: 100px;
    height: 50px;
    color: aliceblue;
    border: 3px solid rgb(230, 135, 211);
    cursor: pointer;
}

#reset {
    background-color: rgb(88, 105, 160);
    border: 2px solid rgb(197, 116, 192) ;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-color: #5d5883;
    border: 2px solid hsl(0, 63%, 55%);
    cursor: pointer;
}

#reset {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

#result-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid #333;
    box-shadow: 0 0 10px rgba(131, 57, 57, 0.5);
    text-align: center;
}

#result-popup.hidden {
    display: none;
}

#result-message {
    margin-bottom: 20px;
    font-size: 1.5em;
}

#play-again {
    background-color: rgb(98, 116, 236);
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

.hidden {
    display: none;
}
